* {
    color: black;
    margin: 0px;
}

body {
    background-image: url(./img/homeIndex_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    margin: 0%;
}

h1,
h2 {
    text-shadow: 5px 5px 5px #ababab;
    margin: 0%;
}

.heading {
    padding: 15px;
    margin-top: 50px;
}

.credentials {
    margin: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 50px;
    font-size: 18px;
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: #80808000;
}

a:hover {
    text-decoration: underline;
    color: royalblue;
}

tbody tr:hover {
    background-color: rgb(233, 202, 202);
}

a:active {
    color: green;
}

th,
td {
    padding: 5px;
    border-bottom: 2px solid rgb(119, 94, 93);
}